<h1>Title: <%= @van.title %></h1>
<h2>Description: <%= @van.description %></h2>
<p># of seats: <%= @van.seats %></p>
<p>Location : <%= @van.location %></p>
<p>User id: <%= @van.user_id %></p>
<p>Price per day: <%= @van.price_per_day %></p>

<%= link_to "Edit van", edit_van_path %>
