<div class="main-card border shadow-sm">
  <div class="main-card-photo" style="background-image: url(<%= cl_image_path(van.photo.key) %>)"></div>
  <div class="main-card-info d-flex justify-content-between p-3">
    <div>
      <h3 class="main-card-title "><%= van.title %></h3>

      <div class="d-flex">
        <h4 class="main-card-price align-self-center"><%= van.price_per_day %></h4>
        <div class="align-self-center">
          <i class="fa-solid fa-euro-sign align-self-center fa-md"></i>
          <small class="fs-5 align-self-center opacity-50">/night</small>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-end">
        <p class="main-card-detail my-0 me-2"><%= van.seats %></p>
        <i class="fa-solid fa-user align-self-center opacity-25"></i>
      </div>
      <div class="d-flex justify-content-end">
        <p class="main-card-detail my-0"><%= van.location%>
        <i class="fa-solid fa-location-dot align-self-center opacity-25"></i>
      </div>
    </div>
  </div>
</div>
