
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-9">
      <div class="d-flex flex-column align-items-center">
        <h1 class="mb-3">Let's ride!</h1>
        <p class="fs-4"><strong><%= @booking.van.user.first_name %></strong> will shortly come back to you.</p>
      </div>
      <div class="row mt-5 d-flex">
        <div class="col-12 col-lg-6 p-3">
          <div class="my-3 van-image-small shadow-sm" style="background-image: url(<%= cl_image_path(@booking.van.photo.key) %>)"></div>
        </div>
        <div class="col-12 col-lg-6 p-3 d-flex flex-column justify-content-center">
          <h4 class="mb-3 text-center pb-3 booking-notice">Your booking details</h4>
          <div class="d-flex justify-content-center">
            <div class="d-flex flex-column justify-content-around">
              <i class="fa-solid fa-van-shuttle me-3 opacity-50"></i>
              <i class="fa-solid fa-van-shuttle me-3 opacity-50" style="transform: scaleX(-1)"></i>
              <i class="fa-solid fa-people-group me-3 opacity-50"></i>
              <i class="fa-solid fa-equals me-3 opacity-50"></i>
            </div>
            <div>
              <p class="fs-4 my-2"><%= @booking.start_date.strftime("%d %B %Y") %></p>
              <p class="fs-4 my-2"><%= @booking.end_date.strftime("%d %B %Y") %></p>
              <p class="fs-4 my-2"><%= @booking.van.seats %> riders</p>
              <p class="fs-4 my-2"><strong><%= @booking.transaction_amount %></strong> €</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
